<h4 class="text-center  mt-4 font-weight-bold mb-4 "> S’APPROPRIER LES ECRITS DU MONDE DU TRAVAIL</h4>

<div class="container ">

    <div class="container">
        <h6 class="text-center mt-4 mb-4 text-danger border-top pt-4 border-danger ">ACTIVITE N°4-1: SE REPERER DANS UN
            BULLETIN DE PAIE</h6>

        <div class=" container bg-light text-center border rounded p-4 col-md-12">
            <p> <i class=" text-danger mr-4 fas fa-question-circle"></i>
                Nous allons maintenant passer à l’activité autour du travail.
            </p>
            <small class="text-muted"><i class="fab text-secondary mr-4 fa-font-awesome-flag"></i> Sortir le bulletin et
                le placer face à la personne reçue, lui laisser 20 secondes
                pour le regarder, puis lui poser la série de question ci-après:</small>

        </div>
    </div>
    <form #f="ngForm" (ngSubmit)="modedutravail(f)" class="border border-primar rounded p-4 text-muted">

    <!----------------------------------       question  deux  ------------------------------------>
    <div class="row m-4">
        <div class="col-md-6 bg-light border border-dark rounded p-4">
            <p> <i class=" text-danger mr-4 fas fa-question-circle"></i>
                Pouvez-vous me dire à quoi sert ce document ?
            </p>
        </div>
        <div class="col md-8">
            <!-- ***************************************************************************************** -->
            <p class="mt-4">29) La personne a-t-elle réussi à répondre à la question? </p>
            <div class="form-group form-check mb-4 text-muted">
                <label class="form-check-label mr-4">
                    <input class="form-check-input" ngModel name="quesvingtneuf" value="oui" type="radio">OUI
                </label>
                <div>
                    <label class="form-check-label  ">
                        <input class="form-check-input" ngModel name="quesvingtneuf" value="non" type="radio">NON
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-----------------------------------   fin question deux ---------------------------------->







    <!----------------------------------       question  trois  ------------------------------------>
    <div class="row m-4">
        <div class="col-md-6 bg-light border border-dark rounded p-4">
            <p> <i class=" text-danger mr-4 fas fa-question-circle"></i>
                Pouvez-vous me dire à qui est adressé ce document?
            </p>
        </div>
        <div class="col md-8">
            <!-- ***************************************************************************************** -->
            <p class="mt-4">30) La personne a-t-elle dit à qui est adressé ce document? </p>
            <div class="form-group form-check mb-4 text-muted">
                <label class="form-check-label mr-4">
                    <input class="form-check-input " ngModel name="questrente" value="oui" type="radio">OUI
                </label>
                <div>
                    <label class="form-check-label  ">
                        <input class="form-check-input" ngModel name="questrente" value="non" type="radio">NON
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-----------------------------------   fin question troix ---------------------------------->





    <!----------------------------------       question  quatre  ------------------------------------>
    <div class="row m-4">
        <div class="col-md-6 bg-light border border-dark rounded p-4">
            <p> <i class=" text-danger mr-4 fas fa-question-circle"></i>
                Regardez attentivement ce bulletin de paie. Quel travail fait ce salarié dans la vie?
            </p>
        </div>
        <div class="col md-8">
            <!-- ***************************************************************************************** -->
            <p class="mt-4">31) La personne a-t-elle réussi à répondre à la question? </p>
            <div class="form-group form-check mb-4 text-muted">
                <label class="form-check-label mr-4">
                    <input class="form-check-input " ngModel name="questrenteun" value="oui" type="radio">OUI
                </label>
                <div>
                    <label class="form-check-label  ">
                        <input class="form-check-input" ngModel name="questrenteun" value="non" type="radio">NON
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-----------------------------------   fin question quatre ---------------------------------->





    <!----------------------------------       question  cenque  ------------------------------------>
    <div class="row m-4">
        <div class="col-md-6 bg-light border border-dark rounded p-4">
            <p> <i class=" text-danger mr-4 fas fa-question-circle"></i>
                En quoi consiste le travail de caissier ?
            </p>
        </div>
        <div class="col md-8">
            <!-- ***************************************************************************************** -->
            <p class="mt-4">32) La personne a-t-elle réussi à répondre à la question? </p>
            <div class="form-group form-check mb-4 text-muted">
                <label class="form-check-label mr-4">
                    <input class="form-check-input "  ngModel name="questrentedeux" value="oui" type="radio">OUI, son explication
                    est très claire
                </label>
                <div>
                    <label class="form-check-label mr-4">
                        <input class="form-check-input " ngModel name="questrentedeux" value="ouienpartie" type="radio">OUI EN
                        PARTIE, avec de l'aide
                    </label>
                </div>
                <div>
                    <label class="form-check-label  ">
                        <input class="form-check-input" ngModel name="questrentedeux" value="non" type="radio">NON
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-----------------------------------   fin question cenque ---------------------------------->






    <!----------------------------------       question  six  ------------------------------------>
    <div class="row m-4">
        <div class="col-md-6 bg-light border border-dark rounded p-4">
            <p> <i class=" text-danger mr-4 fas fa-question-circle"></i>
                Regardez encore une fois cette fiche de paie: est-ce que le salarié a fait des heures supplémentaires ce
                mois-ci et si oui, combien ?
            </p>
        </div>
        <div class="col md-8">
            <!-- ***************************************************************************************** -->
            <p class="mt-4">33) La personne a-t-elle réussi à répondre ? </p>
            <div class="form-group form-check mb-4 text-muted">
                <label class="form-check-label mr-4">
                    <input class="form-check-input " ngModel name="questrentetroix" value="oui" type="radio">OUI, elle a su
                    répondre et a converti en
                    heures et en minutes
                </label>
                <div>
                    <label class="form-check-label  ">
                        <input class="form-check-input" ngModel name="questrentetroix" value="ouienpartie" type="radio">OUI,
                        avec de l’aide ou n’a pas su
                        convertir en heures et en minutes
                    </label>
                </div>
                <div>
                    <label class="form-check-label  ">
                        <input class="form-check-input" ngModel name="questrentetroix" value="non" type="radio">NON, elle n’a
                        pas su répondre
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-----------------------------------   fin question six ---------------------------------->



    <!----------------------------------       question  cepte  ------------------------------------>
    <div class="row m-4">
        <div class="col-md-6 bg-light border border-dark rounded p-4">
            <p> <i class=" text-danger mr-4 fas fa-question-circle"></i>
                Regardez à nouveau le bulletin de salaire<br>Pouvez-vous calculer combien d’heures le caissier a
                travaillé
                ce mois-ci?<br>Vous pouvez bien sûr vous servir d’une calculette.
            </p>
        </div>
        <div class="col md-8">
            <!-- ***************************************************************************************** -->
            <p class="mt-4">34) La personne a-t-elle réussi à répondre à répondre ? </p>
            <div class="form-group form-check mb-4 text-muted">
                <label class="form-check-label mr-4">
                    <input class="form-check-input " ngModel name="questrentequatre" value="oui" type="radio">OUI, elle a su
                    répondre et elle a fait le
                    calcul
                </label>
                <div>
                    <label class="form-check-label  ">
                        <input class="form-check-input" ngModel name="questrentequatre" value="ouienpartie" type="radio">OUI EN
                        PARTIE, elle a trouvé la date mais elle a fait une erreur de calcul
                    </label>
                </div>
                <div>
                    <label class="form-check-label  ">
                        <input class="form-check-input" ngModel name="questrentequatre" value="non" type="radio">NON, elle n’a
                        pas su répondre
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-----------------------------------   fin question cepte ---------------------------------->



    <div class="row">
        <div class="col-8"><button class="btn btnbg" routerLink="/SeDeplacerEnVille"><i
                    class="fas fa-undo-alt ml-4 mr-4"></i></button></div>
        <div class="col-4"><button type="submit" class="btn btnbg float-right" ><i
                    class="fas fa-forward pl-4 pr-4"></i></button></div>
    </div>

    </form>

</div>