<div class="container">

  <h1 class="text-center text-secondary text-uppercase mt-5 mb-5">PIÈCES À FOURNIR PAR LE PRESTATAIRE PRÉALABLEMENT À TOUTE ACTIVITÉ PÉDAGOGIQUE</h1>

  <h3 class="text-secondary mt-5 mb-5">L'administration de l’ESTIAM se réserve le droit de réclamer toutes pièces
    complémentaires nécessaires à l'appréciation de la situation du Prestataire.</h3>
  <!-- ***************************************  div container debut ***************************** -->



  <div class="row p-5" >
    <div class="col-md-4 col-sm-12 p-md-5 btn btn-light m-md-5 border border-radus  "
    (click)="sendPersonneNormalDocuments()"
    >
      Personne morale (SA, SAS, SASU, Eurl, Sàrl, …)</div>
 
    <div class="col-md-4 col-sm-12 mt-5 p-md-5 btn btn-light m-md-5 border border-radus"
    (click)="sendTravailleurIndependantDocuments()"
    >
      Travailleur indépendant - profession libérale – autoentrepreneur 
        </div>
   </div>
  
  <!-- ***************************************  div container debut ***************************** -->
</div>


















<!-- ******************************
 -->













