<div class="container mt-md-5">
    <h3 class="text-center text-secondary">Créer votre compte chez portail intervenant !</h3>

    <form class="m-auto mt-md-5 text-secondary" #f="ngForm" (ngSubmit)="onRegister(f.value)">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Votre Nom : </label>
            <input type="text" class="form-control" 
            name="nom" ngModel
            placeholder="nom ..." >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Votre Prenom : </label>
            <input type="text" class="form-control"
            name="prenom" ngModel
            placeholder="prenom ..." >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Votre fonction : </label>
            <input type="text" class="form-control" 
            name="fonction" ngModel
            placeholder="fonction ..." >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Votre adresse email : </label>
            <input type="email" class="form-control"
            name="email" ngModel
            placeholder="email ..." >
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Votre mot de passe :</label>
            <input type="password" 
            name="password" ngModel
            class="form-control" placeholder="mot de passe ...">
        </div>
        <button type="submit" class="btn btn-secondary">Inscription !</button>
    </form>
</div>