<footer class="page-footer footer-below footer font-small blue">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mt-4 text-muted">
                Licence <img alt="Licence Creative Commons" style="border-width:0"
                    src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"> by <a href="https://illettrisme.org"
                    class="text-muted">illettrisme.org</a>
            </div>
        </div>
    </div>

</footer>