

<!-- ***************      footer  ********************   -->

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="my-5">

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
        <!-- Left -->
        <div class="me-5">
          <span>École supérieure des technologies
            de l'information appliquées aux métiers :</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a routerLink="" href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a routerLink="" href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a routerLink="" href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a routerLink="" href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a routerLink="" href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a routerLink="" href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">Notre vision</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                Notre pédagogie</p>
              <p>Cursus & spécialisations</p>
              <p>d’emploi stage & alternance</p>
              <p>Autofinancement</p>
              <p>aux questions</p>
              <p>Actualités</p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Les programmes</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a routerLink="" class="text-white">BTS SIO Alternance</a>
              </p>
              <p>
                <a routerLink="" class="text-white">Bac +3 technologique</a>
              </p>
              <p>
                <a routerLink="" class="text-white">Bac +5 technologique</a>
              </p>
              <p>
                <a routerLink="" class="text-white">MBA Data Solutions Architect NWoW</a>
              </p>
              <p>
                <a routerLink="" class="text-white">International</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
              
              
              
              
              
              
              
              
              
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Nos campus</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a routerLink="" class="text-white">Paris</a>
              </p>
              <p>
                <a routerLink="" class="text-white">Melun</a>
              </p>
              <p>
                <a routerLink="" class="text-white">Neuilly</a>
              </p>
              <p>
                <a routerLink="" class="text-white">Saint-Denis</a>
              </p>
              <p>
                <a routerLink="" class="text-white">Bourges</a>
              </p>
              <p>
                <a routerLink="" class="text-white">Lyon</a>
              </p>
              <p>
                <a routerLink="" class="text-white">Metz</a>
              </p>
              <p>
                <a routerLink="" class="text-white">Tarbes</a>
                
                
                
  
              </p>
              <p>
                <a routerLink="" class="text-white">Valence</a>
              </p>
              <p>
                <a routerLink="" class="text-white">Genève</a>
              </p>
              <p>
                <a routerLink="" class="text-white">Luxembourg</a>
              </p>
              <p>
                <a routerLink="" class="text-white">
                  Washington DC</a></p>
                  <p>
                    <a routerLink="" class="text-white">
                      Bangalore</a></p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">NOUS CONTACTER
              </h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p><i class="fas fa-home mr-3"></i> <strong>Adresse : </strong> 31 Rue Paul Meurice, 75020 Paris</p>
              <p><i class="fas fa-envelope mr-3"></i> <strong> Email : </strong> Estiam@hotmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> <strong>Téléphone : </strong> 01 82 83 75 00</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a routerLink="" class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div> -->
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
  </div>
  <!-- End of .container -->