<div class="container">

  <div class=" p-4 border border rounded">
    <p class="text-center "><strong> {{genre}} :</strong> {{prenom}} {{nom}}</p>
    <!-- <p>UID : {{uid}}</p> -->
    <div class="row mt-4">
      <div class="col-md-4">
        <strong> Date de l'évaluation </strong> :{{ resultService.date | date:'d/M/yyyy'}}
      </div>
      <div class="col-md-4">
        <strong> Date de naissance et lieu de naissance  </strong>  : {{resultService.dateNaissance | date:'d/M/yyyy'}} / {{resultService.lieuNaissance}} 
      </div>
    </div>

    <div class="container mt-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>

            <th scope="col">CE</th>
            <th scope="col">EE</th>
            <th scope="col">CO</th>
            <th scope="col">Calcul</th>
            <th scope="col">EO</th>
            <th scope="col">REspace</th>
            <th scope="col">RTemps </th>
            <th scope="col">Numerique </th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Degré</th>

            <td>{{DCE}}</td>
            <td>{{DEE}}</td>
            <td>{{DCO}}</td>
            <td>{{DCalcul}}</td>
            <td>{{DEO}}</td>
            <td>{{DREspace}}</td>
            <td>{{DRTemps}}</td>
            <td>{{DNumerique}}</td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-danger" (click)="enregestrerlesresultat()" *ngIf="enregestrerlesresultats"> SAUVEGARDER LES RESULTATS </button>
    </div>


    <div class="container" style="width: 600px; height: 300px;">

      <canvas id="myChart" width="600" height="200"></canvas>
    </div>









    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>