
.btnbg{
    background-color: #a9d7c8;
}

figure {
    margin: 0;
}


.footer {
    background: #545454;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }