<!-- <div class="container">
    <div class="jumbotron border rounded bg ">
        <div class="container ">
            <h1 class="text-center bg text mb-4">Bonjour et bienvenue sur Diego ! </h1>
            <p class="text-muted m-t">Diego est un outil qui permet de faire un diagnostic sur vos compétences de base, avec votre accompagnateur. 
                Il s’agit de mesurer votre capacité à échanger à l’oral, à lire et à écrire, à compter, à calculer, à se repérer dans le temps, à lire un plan, mais aussi à se servir des nouveaux outils numériques dans la vie quotidienne.</p>
        </div>
    </div>


    <div class=" bg border rounded ">
        <div class="card mb-3 bgr p-4">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/cri-paca.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="text-muted">Aujourd'hui, nous avons de plus en plus besoin de ces compétences pour travailler, pour s’occuper des enfants, surveiller leurs devoirs, leur lire une histoire... pour faire ses démarches à la CAF, pour s'actualiser à Pôle emploi, et même parfois pour bien utiliser son téléphone portable.
                            Alors, si vous le voulez bien, nous allons regarder ensemble ce que vous savez faire et ce qu'il reste à apprendre !
                            Rappelez-vous : il n'y a pas d'âge pour apprendre ! </p>
                            <p class="text-muted">

                            Vous êtes curieux ?
                            </p>
                            <p class="text-muted">
                                Vous avez envie d’essayer ? 
                            </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- ----------------------------------fin page davant ------------------------ -->

<!-- <div class="border-top border-danger">
    <img style="height: 800px" class="w-100 " src="../../assets/homepagecripaca.jpg" alt="cri paca">
</div>
<div class="border-top border-danger">
    <img style="height: 800px" class="w-100 " src="../../assets/diego-cri-02.png" alt="cri paca">
</div>
<div class="border-top border-danger">
    <img style="height: 700px" class="w-100 " src="../../assets/diego-cri-2.png" alt="cri paca">
</div> -->



<div class="border-top border-danger">
    <img style="height: 100%" class="w-100 " src="../../assets/page_accueil_diego.png" alt="cri paca">
</div>



<!-- <div class="row">
    <div class="col-6"><img style="height: 700px" class="w-100 " src="../../assets/diego-cri-2.png" alt="cri paca"></div>
    <div class="col-6"><img style="height: 700px" class="w-100 " src="../../assets/diego-cri-2.png" alt="cri paca"></div>
</div> -->