<h4 class="text-center mt-4 font-weight-bold mb-4">
  ACTIVITE N°4-2 : REPONDRE A UNE OFFRE D’EMPLOI
</h4>

<div class="float-end fixed-top" style="margin-top: 100px;">
  <!-- <span class="btn btn-info mb-1">Score activité courant : {{ compt }} -->
  <!-- </span><br> -->
  <!-- <span class="btn btn-success"> -->
    <!-- {{comptService.compteur}}/40 -->
    <!-- Score tout les activités : {{ compteur }} / 40 -->
  <!-- </span> -->
  <p lass="btn _bg border rounded-circle"> 34 / 40</p>
</div>
<!-- <div class="float-end"><button class="btn btn-info border rounded-circle fixed-top mt-5">
    <span >{{compt}}/40 </span>  <span >{{comptService.compteur}}/40 </span>   
</button>
</div><strong class="btn btn-warning">{{compteur}}</strong> -->
<div class="container">
  <a  class="btn btn-info ml-5 mr-5 float-end"  target="_blank"
href="https://www.illettrisme.org/ressources-documentaires/documents-telechargeables/func-startdown/766/">
Telecharger l'offre d'emploi

</a>
</div>
<div class="container border rounded p-4">
  <form
    #f="ngForm"
    (ngSubmit)="offreDemploi(f)"
    class="border border-primar rounded p-4 text-muted"
  >
    <div class="container">
      <div class="container">
        <div
          class="container bg-light text-center border rounded p-4 col-md-12"
        >
          <p class="text-muted">
            <i class="fab text-secondary mr-4 fa-font-awesome-flag"></i> Sortir
            l’offre d’emploi "Agent polyvalent / Agente polyvalente en EHPAD" à
            Fréjus et le donner à la personne. Lui demander de lire le texte de
            l’annonce en silence (1 minute maximum).<br />Lui demander si elle a
            compris le texte et si elle peut répondre aux 6 questions (1 minute
            maximum)
          </p>
        </div>
      </div>

      <!----------------------------------       question  zero  ------------------------------------>

      <div class="row lrg m-4">
        <div class="col-md-6 bg-light border border-dark rounded p-4">
          <p>
            <i class="text-danger mr-4 fas fa-question-circle"></i>
            Pouvez-vous me dire quelle est l’ancienneté de cette personne sur ce
            lieu de travail ? Combien d’années et éventuellement de mois
            a-t-elle travaillé dans ce supermarché ?
          </p>
        </div>
        <div class="col-md-6">
          <!-- ***************************************************************************************** -->
          <p class="mt-4">35) Calculer une durée</p>
          <div class="form-group form-check mb-4 text-muted">
            <label class="form-check-label mr-4">
              <input
                (change)="handleChangequesTrentecenq($event)"
                class="form-check-input"
                [(ngModel)]="questrentecenque"
                name="questrentecenque"
                value="oui"
                type="radio"
                required
              />OUI, elle a su répondre, elle a donné la bonne réponse en années
              et en mois ou en nombre de mois travaillés
            </label>
            <div>
              <label class="form-check-label">
                <input
                  (change)="handleChangequesTrentecenq($event)"
                  class="form-check-input"
                  [(ngModel)]="questrentecenque"
                  name="questrentecenque"
                  value="ouienpartie"
                  type="radio"
                  required
                />OUI EN PARTIE, elle a trouvé la date de contrat, mais a fait
                une erreur de calcul
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input
                  (change)="handleChangequesTrentecenq($event)"
                  class="form-check-input"
                  [(ngModel)]="questrentecenque"
                  name="questrentecenque"
                  value="non"
                  type="radio"
                  required
                />NON
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-----------------------------------   fin question zero ---------------------------------->

      <!----------------------------------       question  un  ------------------------------------>

      <h6 class="text-center text-danger">
        4.2.1 –Répondre à une offre d’emploi
      </h6>
      <div class="row lrg m-4">
        <div class="col-md-6 bg-light border border-dark rounded p-4">
          <p>Questions n°1 à 5</p>
          <p>
            <i class="text-danger mr-4 fas fa-question-circle"></i>
            Répondez aux questions suivantes. Cochez la bonne case
          </p>
        </div>
        <div class="col-md-6">
          <!-- ***************************************************************************************** -->
          <p class="mt-4">
            36) La personne a-t-elle réussi à répondre aux questions 1 à 5 ?
          </p>
          <div class="form-group form-check mb-4 text-muted">
            <label class="form-check-label mr-4">
              <input
                (change)="handleChangequesTrentesix($event)"
                class="form-check-input"
                [(ngModel)]="questrentesix"
                name="questrentesix"
                value="oui"
                type="radio"
                required
              />OUI, elle a su répondre aux 5 questions
            </label>
            <div>
              <label class="form-check-label">
                <input
                  (change)="handleChangequesTrentesix($event)"
                  class="form-check-input"
                  [(ngModel)]="questrentesix"
                  name="questrentesix"
                  value="ouienpartie"
                  type="radio"
                  required
                />OUI, elle a su répondre à au moins 3 questions
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input
                  (change)="handleChangequesTrentesix($event)"
                  class="form-check-input"
                  [(ngModel)]="questrentesix"
                  name="questrentesix"
                  value="non"
                  type="radio"
                  required
                />NON, elle n’a pas su répondre aux questions
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-----------------------------------   fin question un ---------------------------------->

      <!----------------------------------       question  deux  ------------------------------------>
      <div class="row lrg m-4">
        <div class="col-md-6 bg-light border border-dark rounded p-4">
          <p>Question n°6</p>
          <p>
            <i class="text-danger mr-4 fas fa-question-circle"></i>
            Combien d’heures par jour travaille-t-on dans cet établissement ?
          </p>
        </div>
        <div class="col-md-6">
          <!-- ***************************************************************************************** -->
          <p class="mt-4">
            37) La personne a-t-elle réussi à répondre à la question?
          </p>
          <div class="form-group form-check mb-4 text-muted">
            <label class="form-check-label mr-4">
              <input
                (change)="handleChangequesTrentesept($event)"
                class="form-check-input"
                [(ngModel)]="questrentecepte"
                name="questrentecepte"
                value="oui"
                type="radio"
                required
              />OUI, elle a donné la bonne réponse
            </label>
            <div>
              <label class="form-check-label">
                <input
                  (change)="handleChangequesTrentesept($event)"
                  class="form-check-input"
                  [(ngModel)]="questrentecepte"
                  name="questrentecepte"
                  value="non"
                  type="radio"
                  required
                />NON
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-----------------------------------   fin question deux ---------------------------------->

      <!----------------------------------       question  troix  ------------------------------------>

      <h6 class="text-center text-danger">
        4 .2.2 Lire et comprendre la consigne (lecture silencieuse)
      </h6>
      <div class="row lrg m-4">
        <div class="col-md-6 bg-light border border-dark rounded p-4">
          <p>
            <i class="text-danger mr-4 fas fa-question-circle"></i> Vous décidez
            de postuler à ce poste. Lisez les phrases et parties de phrases
            suivantes en silence et remettez-les dans l’ordre.<br />Vous
            inscrirez la lettre correspondant à chaque phrase dans la bonne
            case: la case 1 correspond au début de la lettre et la case 6 à la
            fin
          </p>
        </div>
        <div class="col-md-6">
          <!-- ***************************************************************************************** -->
          <p class="mt-4">
            38) La personne a-t-elle réussi à mettre les phrases dans l’ordre ?
          </p>
          <div class="form-group form-check mb-4 text-muted">
            <label class="form-check-label mr-4">
              <input
                (change)="handleChangequesTrentehuit($event)"
                class="form-check-input"
                [(ngModel)]="questrentehuite"
                name="questrentehuite"
                value="oui"
                type="radio"
                required
              />OUI, elle a compris la question et a su replacer toutes les
              phrases dans le bon ordre
            </label>
            <div>
              <label class="form-check-label">
                <input
                  (change)="handleChangequesTrentehuit($event)"
                  class="form-check-input"
                  [(ngModel)]="questrentehuite"
                  name="questrentehuite"
                  value="ouienpartie"
                  type="radio"
                  required
                />OUI EN PARTIE, elle a su replacer les phrases dans le bon
                ordre, mais l’accompagnateur / accompagnatrice a dû lui
                expliquer la consigne oralement
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input
                  (change)="handleChangequesTrentehuit($event)"
                  class="form-check-input"
                  [(ngModel)]="questrentehuite"
                  name="questrentehuite"
                  value="non"
                  type="radio"
                  required
                />NON
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-----------------------------------   fin question troix ---------------------------------->

      <!----------------------------------       question  quatre  ------------------------------------>

      <h6 class="text-center text-danger">
        4.2.3 Rédaction de quelques petites phrases
      </h6>
      <div class="row lrg m-4">
        <div class="col-md-6 bg-light border border-dark rounded p-4">
          <p>
            <i class="text-danger mr-4 fas fa-question-circle"></i>
            Écrivez quelques éléments pour une lettre de motivation: vous pouvez
            compléter les phrases ou les rédiger vous-mêmes
          </p>
        </div>
        <div class="col-md-6">
          <!-- ***************************************************************************************** -->
          <p class="mt-4">
            39) La personne a-t-elle réussi à rédiger ou compléter les phrases ?
          </p>
          <div class="form-group form-check mb-4 text-muted">
            <label class="form-check-label mr-4">
              <input
                (change)="handleChangequesTrenteneuf($event)"
                class="form-check-input"
                [(ngModel)]="questrenteneuf"
                name="questrenteneuf"
                value="oui"
                type="radio"
                required
              />OUI, elle a su rédiger ou compléter 3 ou 4 phrases de façon
              cohérente. Elles sont claires même si l’orthographe n’est pas
              parfaite.
            </label>
            <div>
              <label class="form-check-label">
                <input
                  (change)="handleChangequesTrenteneuf($event)"
                  class="form-check-input"
                  [(ngModel)]="questrenteneuf"
                  name="questrenteneuf"
                  value="ouienpartie"
                  type="radio"
                  required
                />OUI, elle a sur rédiger ou compléter 1 à 2 phrases de façon
                compréhensible.
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input
                  (change)="handleChangequesTrenteneuf($event)"
                  class="form-check-input"
                  [(ngModel)]="questrenteneuf"
                  name="questrenteneuf"
                  value="non"
                  type="radio"
                  required
                />NON, elle n’a su ni rédiger ni compléter la lettre ou ce
                qu’elle a écrit était incohérent, ou non compréhensible.
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-----------------------------------   fin question quatre ---------------------------------->

      <!----------------------------------       question  cenque  ------------------------------------>
      <div class="row lrg m-4">
        <div class="col-md-6 bg-light border border-dark rounded p-4">
          <p class="text-muted">
            <i class="fab text-secondary mr-4 fa-font-awesome-flag"></i>La
            personne a-t-elle signé la lettre avant de vous la rendre? Si la
            personne ne réagit pas:
          </p>
          <p>
            <i class="text-danger mr-4 fas fa-question-circle"></i>
            Comment se termine une lettre?
          </p>
        </div>
        <div class="col-md-6">
          <!-- ***************************************************************************************** -->
          <p class="mt-4">40) La personne a-t-elle signé la lettre?</p>
          <div class="form-group form-check mb-4 text-muted">
            <label class="form-check-label mr-4">
              <input
                (change)="handleChangequesQuarante($event)"
                class="form-check-input"
                [(ngModel)]="quesquarante"
                name="quesquarante"
                value="oui"
                type="radio"
                required
              />OUI, elle a signé la lettre sans que l’accompagnateur /
              accompagnatrice ait eu à le lui demander
            </label>
            <div>
              <label class="form-check-label">
                <input
                  (change)="handleChangequesQuarante($event)"
                  class="form-check-input"
                  [(ngModel)]="quesquarante"
                  name="quesquarante"
                  value="ouienpartie"
                  type="radio"
                  required
                />OUI, elle a signé la lettre après que l'accomapgnateur lui
                pose cette question
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input
                  (change)="handleChangequesQuarante($event)"
                  class="form-check-input"
                  [(ngModel)]="quesquarante"
                  name="quesquarante"
                  value="non"
                  type="radio"
                  required
                />NON, elle n’a pas su signer
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-----------------------------------   fin question cenque ---------------------------------->
    </div>

  


    <div class="row lrg">
      <div class="col-6"><button class="btn btnbg float-left  mb-4" (click)="buck()">
              <i class="fas fa-backward pl-4 pr-4"></i>
          </button></div>
      <div class="col-6">
        <button
        type="submit required"
        class="btn btnbg float-right mr-4 mb-4"
        [disabled]="!f.form.valid"
      >
        <span class="text-danger" *ngIf="!f.form.valid"
          >Suite : répondre à toutes les questions</span
        ><i class="fas fa-forward pl-4 pr-4"></i>
      </button>

      </div>
  </div>

    
  </form>
</div>
