<div class="container mt-md-5 text-secondary">
    <h3 class="text-center text-secondary">Connecter à votre espace !</h3>
    
    <form class="m-auto  mt-md-5" #f="ngForm" (ngSubmit)="onLogin(f.value)">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Votre adresse email : </label>
            <input type="email" class="form-control" 
            name="email" ngModel
            placeholder="émail ..." >
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Votre mot de passe :</label>
            <input type="password" class="form-control" 
            name="password" ngModel
            placeholder="mot de passe ...">
        </div>
        <!-- <button type="submit" class="btn btn-secondary">Connecter !</button> -->
        <div class="row">
          <div class="col-md-4  col-sm ">
            <button type="submit" class="btn btn-light w-100">Connecter !</button></div>
          
          <div class="col-md-4  col-sm ">
            <button (click)="signWithGoogle()" class="btn btn-light w-100">WithGoogle !</button></div>

          <div class="col-md-4  col-sm text-center">
            <button type="button" class=" btn btn-light w-100" data-toggle="modal" data-target="#popup">
              Mot de passe oublié ?
            </button>
          </div>

        </div>
    <!-- </form>
</div> -->



  </form>

  <!-- Pop-up -->
  <div id="popup" class="modal border border-secondary rounded">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="form-inline p-4" #f1="ngForm" (ngSubmit)="resetPassword(f1)">
          <div class="form-group p-4 mb-2">
            <label class="sr-only">Password</label>
            <input type="email" class="form-control" ngModel name="email" placeholder="Votre email !">
          </div>
          <button type="submit" class="btn btn-secondary mb-2">Confirmer</button>
        </form>
      </div>
    </div>
  </div>