<div class="container">
    <h4 class="text-center  mt-4 font-weight-bold mb-4 ">S’INSCRIRE SUR DIEGO</h4>

    <h5 class="container text-center border-top pt-4 border-danger"> ACTIVITE N°2: Renseigner un formulaire d’identité
    </h5>

    <form #f="ngForm" (ngSubmit)="activiteidentitie(f)" class="border border-primar rounded p-4 text-muted">

        <!----------------------------------       question  un  ------------------------------------>
        <h6 class="text-center mt-4 mb-4 ">Utiliser et communiquer avec les outils numériques</h6>
        <div class="row m-4">
            <div class="col-md-6 bg-light border border-dark rounded p-4">
                <p> <i class=" text-danger mr-4 fas fa-question-circle"></i> Je vais maintenant vous proposer de vous
                    inscrire sur DIEGO. D’abord, j’ai quelques questions sur votre pratique de l’informatique
                    (ordinateur,
                    téléphone) :<br>
                    Savez-vous vous
                    servir d'un ordinateur avec un clavier?
                </p>
            </div>
            <div class="col md-8">
                <!-- ***************************************************************************************** -->
                <p class="mt-4">6) La personne sait-elle se servir d’un ordinateur avec un clavier? </p>
                <div class="form-group form-check mb-4 text-muted">
                    <label class="form-check-label mr-4">
                        <input class="form-check-input " name="quesix" (change)="handleChange($event)" value="oui" ngModel type="radio">OUI
                    </label>
                    <div>
                        <label class="form-check-label  ">
                            <input class="form-check-input"  (change)="handleChangenon($event)" name="quesix" value="non" ngModel type="radio">NON
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------   fin div un ------------------->


        <!----------------------------------       question  deux  ------------------------------------>
        <div class="row m-4">
            <div class="col-md-6 bg-light border border-dark rounded p-4">
                <p> <i class=" text-danger mr-4 fas fa-question-circle"></i> Avez-vous une adresse e-mail? A quelle
                    fréquence l’utilisez-vous?
                </p>
            </div>
            <div class="col md-8">
                <!-- ***************************************************************************************** -->
                <p class="mt-4"> 7) La personne a-t-elle une adresse mail ?</p>
                <div class="form-group form-check mb-4 text-muted">
                    <label class="form-check-label mr-4">
                        <input class="form-check-input " name="quessept" (change)="questionhuite($event)" value="oui" ngModel type="radio">OUI, elle
                        l’utilise plusieurs fois par
                        semaine.
                    </label>
                    <div>
                        <label class="form-check-label  ">
                            <input class="form-check-input" name="quessept"  value="ouienpartie" (change)="questionhuite($event)" 
                             ngModel
                                type="radio">OUI,
                            elle l’utilise rarement
                        </label>
                    </div>
                    <div>
                        <label class="form-check-label  ">
                            <input class="form-check-input" name="quessept" (change)="questionhuitenon($event)" value="non" ngModel type="radio">Non, elle
                            n’a
                            pas de mail ou ne s’en
                            souvient pas
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------   fin div deux ------------------->



        <!----------------------------------       question  troix  ------------------------------------>

        <div class="row m-4" *ngIf="questionhuit">
            <div class="col-md-6 bg-light border border-dark rounded p-4">

                <p> <i class=" text-danger mr-4 fas fa-question-circle"></i> Savez-vous envoyer un email à plusieurs
                    personnes?
                </p>
            </div>
            <div class="col md-8" >
                <!-- ***************************************************************************************** -->
                <p class="mt-4"> 8) La personne sait-elle envoyer un mail à plusieurs personnes ?</p>
                <div class="form-group form-check mb-4 text-muted">
                    <label class="form-check-label mr-4">
                        <input class="form-check-input " name="queshuit" value="oui" ngModel type="radio">OUI
                    </label>
                    <div>
                        <label class="form-check-label  ">
                            <input class="form-check-input" name="queshuit" value="non" ngModel type="radio">NON
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------   fin div troix ------------------->



        <!----------------------------------       question  quatre  ------------------------------------>

        <div class="row m-4">
            <div class="col-md-6 bg-light border border-dark rounded p-4">
                <p> <i class=" text-danger mr-4 fas fa-question-circle"></i> Est-ce que vous envoyez souvent des SMS /
                    textos avec le téléphone?
                </p>
            </div>
            <div class="col md-8">
                <p>9) La personne utilise-t-elle les sms (ou messagerie instantanée)? </p>
                <!-- ***************************************************************************************** -->
                <div class="form-group form-check mb-4 text-muted">
                    <label class="form-check-label mr-4">
                        <input class="form-check-input "  name="quesneuf" value="oui" ngModel type="radio">OUI, elle
                        utilise
                        les textos régulièrement
                    </label>
                    <div>
                        <label class="form-check-label  ">
                            <input class="form-check-input"  name="quesneuf" value="ouienpartie" ngModel
                                type="radio">OUI,
                            mais c’est rare ou avec de l’aide
                        </label>
                    </div>
                    <div>
                        <label class="form-check-label  ">
                            <input class="form-check-input"   name="quesneuf" value="non" ngModel type="radio">NON, elle
                            n’utilise pas les textos
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------   fin div quatre ------------------->



        <!----------------------------------       question  cenque  ------------------------------------>
        
        <div class="row m-4">
            <div class="col-md-8 bg-light border border-dark rounded p-4" *ngIf="rensform1">
                <h6 class="text-center mt-4 mb-4 ">Renseigner un formulaire</h6>
                <br><small class="text-muted"><i class="fab text-secondary mr-4 fa-font-awesome-flag"></i>La
                    personne
                    a
                    dit savoir se servir d’un ordinateur. Tourner l’écran vers la
                    personne, sur lequel le formulaire est affiché.</small>
                <p> <i class=" text-danger mr-4 fas fa-question-circle"></i>Pouvez-vous remplir ce questionnaire sur
                    ordinateur?



            </div>

            <div class="col-md-8 bg-light border border-dark rounded p-4" *ngIf="rensform2">
                <h6 class="text-center mt-4 mb-4 ">Renseigner un formulaire</h6>
                <p><i class="fab text-secondary mr-4 fa-font-awesome-flag"></i> La personne a dit ne pas savoir se servir d’un ordinateur
                    <br><i class=" text-danger mr-4 fas fa-question-circle"></i>Voici un formulaire. Je vous demande de le remplir seul. Si vous
                    n’arrivez pas à répondre à certaines questions, ce n’est pas grave, passez à la ligne suivante. Vous
                    avez 3 minutes. Quand vous aurez terminé, nous verrons ensemble ce que vous avez rempli et vous
                    pourrez
                    me poser des questions sur ce que vous n’avez pas compris. C’est parti! </p>
                <small class="text-muted"> <i class="fab text-secondary mr-4 fa-font-awesome-flag"></i> Vous pouvez
                    aider
                    la personne à l'oral, mais pas remplir à sa place.<br> Ce sera à vous de remplir le formulaire en
                    ligne
                    avec les informations suivantes: Identité, code postal, ville et statut (page suivante) <br> 3 minutes plus tard,
                    prenez
                    maintenant un moment pour indiquer comment le formulaire a été rempli.</small>

            </div>
        </div>



        <div class="row">
            <div class="col-8"><button class="btn btnbg" routerLink="/fishierAudio"><i
                        class="fas fa-undo-alt ml-4 mr-4"></i></button></div>
            <div class="col-4"><button class="btn btnbg float-right"><i class="fas fa-forward pl-4 pr-4"></i></button>
            </div>
        </div>

    </form>

</div>