<div class="container mt-4 mb-4">
  <h1 class="text-center text">Créer mon compte !</h1>

  <form #f="ngForm" (ngSubmit)="register(f)" class="form border border-secondary rounded p-4">
    <div class="form-group">
      <label class="text-muted">Nom</label>
      <input type="text" ngModel name="firstName" class="form-control">
    </div>
    <div class="form-group">
      <label class="text-muted">Prenom</label>
      <input type="text" ngModel name="lastName" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="form-group">
      <label class="text-muted">Structure</label>
      <input type="text" ngModel name="structure" class="form-control" >
    </div>

    <div class="form-group">
      <label class="text-muted">Département</label>
      <input type="text" ngModel name="departement" class="form-control" >
    </div>

    <div class="form-group">
      <label class="text-muted">Email </label>
      <input type="email" ngModel name="email" class="form-control">
    </div>
    <div class="form-group">
      <label class="text-muted">Mot de passe</label>
      <input type="password" name="password" ngModel class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-bg w-100">Envoyer !</button>
  </form>
</div>

<i class=" w-50 fas fa-bullhorn"></i>helo 
<!---------------------------Fin footer------------------------------ -->