
<div class="container ">
    <h3 class="container text-center border-top pt-4 border-danger">Les detais des questions 
    </h3>

    <div class="alert alert-dark" >
        Fiche Audio 
      </div>
    <h6 class="text-danger mt-4">Ouvrir un fichier audio
    </h6>
    <p class="mt-4 ">1) La personne a-t-elle su lancer le fichier son : <strong class=" mr-4" >{{questionUn}}</strong></p>
    <h6 class="text-danger mt-4">Écouter, mémoriser et reformuler 
    </h6>
    <p class="mt-4 ">2) La personne a-t-elle restitué le message en entier : <strong class=" mr-4">{{questionDeux}}</strong></p>
    <h6 class="text-danger mt-4">Utiliser un logiciel audio
    </h6>
    <p class="mt-4 ">3) La personne a-t-elle su arrêter le message et le remettre au début de l’enregistrement : 
      <strong class=" mr-4">{{questionTroix}}</strong></p>
    <h6 class="text-danger mt-4">Ecouter et répondre à des questions
    </h6>
    <p class="mt-4 ">4) La personne a-t-elle su répondre correctement aux trois questions posées : <strong class=" mr-4">{{questionQuatre}}</strong></p>
    <h6 class="text-danger mt-4">Donner une réponse personnelle et la justifier 
    </h6>
    <p class="mt-4 ">5) La personne a-t-elle exprimé clairement ce qu’elle savait faire et ce qui lui restait à apprendre : <strong class=" mr-4">{{questionCenque}}</strong></p>

    <!-- ****************************************************************************** -->

    <div class="alert alert-dark" >
        Activite 
      </div>
      <h6 class="text-danger mt-4">Utiliser et communiquer avec les outils numériques
    </h6>
    <p class="mt-4 ">6) La personne sait-elle se servir d’un ordinateur avec un clavier : <strong class=" mr-4">{{questionSix}}</strong></p>

    <p class="mt-4 ">7) La personne a-t-elle une adresse mail : <strong class=" mr-4">{{questionSept}}</strong>  </p>
    <p class="mt-4 ">8) La personne sait-elle envoyer un mail à plusieurs personnes : <strong class=" mr-4">{{questionHuit}}</strong></p>
    <p class="mt-4 ">9) La personne utilise-t-elle les sms (ou messagerie instantanée) : <strong class=" mr-4">{{questionNeuf}}</strong></p>

    <!-- ************************************************************************************* -->

    <div class="alert alert-dark" >
        Identitie 
      </div>
      <h6 class="text-danger mt-4">Renseigner un formulaire
    </h6>
    <p class="mt-4 ">10) La personne a rempli le formulaire d’identité sur ordinateur :  <strong class=" mr-4">{{questionDix}}</strong></p>
    <p class="mt-4 ">11) La personne a-t-elle rempli les items du questionnaire d’identité :  <strong class=" mr-4">{{questionOnze}}</strong></p>
    <p class="mt-4 ">12) A-t-elle rempli les cases correspondant à sa date de naissance : <strong class=" mr-4">{{questionDouze}}</strong></p>
    <p class="mt-4 ">13) A-t-elle donné le titre de son dernier emploi :  <strong class=" mr-4">{{questionTreize}}</strong></p>
    <p class="mt-4 ">14) A-t-elle donné la date de son dernier emploi: <strong class=" mr-4">{{questionQuatorze}}</strong></p>
    
    <!-- ********************************************************************************************** -->
    
    <div class="alert alert-dark" >
        Se Deplacer EnVille
      </div>
      <p class="mt-4 ">15) La personne a-t-elle réussi à répondre à la question : <strong class=" mr-4">{{questionQuinze}}</strong></p>
      <p class="mt-4 ">16) La personne a-t-elle cité la station de métro la plus proche de la mairie : <strong class=" mr-4">{{questionSeize}}</strong></p>
    
      <p class="mt-4 ">17) La personne a-t-elle montré les 2 endroits :  <strong class=" mr-4">{{questionDixsept}}</strong></p>
      <p class="mt-4 ">18) La personne a-t-elle réussi à répondre à la question :  <strong class=" mr-4">{{questionDixhuit}}</strong></p>
      <p class="mt-4 ">19) La personne a-t-elle réussi à répondre à la question : <strong class=" mr-4">{{questionDixneuf}}</strong></p>
      <p class="mt-4 ">20) La personne a-t-elle désigné l'établissement : <strong class=" mr-4">{{questionVingt}}</strong></p>
      <p class="mt-4 ">21) La personne a-t-elle réussi à lire ce qui est écrit : <strong class=" mr-4">{{questionVingtun}}</strong></p>
      <p class="mt-4 ">22) La personne a-t-elle compris et expliqué le sens du panneau :  <strong class=" mr-4">{{questionVingtdeux}}</strong></p>
      <p class="mt-4 ">23) La personne a-t-elle réussi à répondre à la question :  <strong class=" mr-4">{{questionVingttroix}}</strong></p>
      <p class="mt-4 ">24) La personne a-t-elle réussi à répondre à la question :  <strong class=" mr-4">{{questionVingtquatre}}</strong></p>
      <p class="mt-4 ">25) La personne a-t-elle réussi à répondre à la question : <strong class=" mr-4">{{questionVingtcenque}}</strong></p>
      <p class="mt-4 ">26) La personne a-t-elle réussi à répondre à la question :  <strong class=" mr-4">{{questionVingtsix}}</strong></p>
      <p class="mt-4 ">27) La personne a-t-elle réussi à répondre à la question :  <strong class=" mr-4">{{questionVingtcept}}</strong></p>
      <p class="mt-4 ">28) La personne a-t-elle réussi à répondre à la question et à la justifier :  <strong class=" mr-4">{{questionVingthuit}}</strong></p>
       <!-- ********************************************************************************************** -->
    
    <div class="alert alert-dark" >
        Monde Du Travail
      </div>
      <p class="mt-4 ">29) La personne a-t-elle réussi à répondre à la question : <strong class=" mr-4">{{questionVingtneuf}}</strong></p>
      <p class="mt-4 ">30) La personne a-t-elle dit à qui est adressé ce document : <strong class=" mr-4">{{questionTrente}}</strong></p>
      <p class="mt-4 ">31) La personne a-t-elle réussi à répondre à la question : <strong class=" mr-4">{{questionTrenteun}}</strong></p>
      <p class="mt-4 ">32) La personne a-t-elle réussi à répondre à la question :  <strong class=" mr-4">{{questionTrentedeux}}</strong></p>
      <p class="mt-4 ">33) La personne a-t-elle réussi à répondre :  <strong class=" mr-4">{{questionTrentetroix}}</strong></p>
      <p class="mt-4 ">34) La personne a-t-elle réussi à répondre à répondre :  <strong class=" mr-4">{{questionTrentequatre}}</strong></p>
       <!-- ********************************************************************************************** -->
    
    <div class="alert alert-dark" >
        Offre Demploi
      </div>
      <p class="mt-4 ">35) Calculer une durée :  <strong class=" mr-4">{{questionTrentecenque}}</strong></p>
      <h6 class="text-danger mt-4">Répondre à une offre d’emploi
    </h6>
      <p class="mt-4 ">36) La personne a-t-elle réussi à répondre aux question 1 à 5 :  <strong class=" mr-4">{{questionTrentesix}}</strong></p>
      <p class="mt-4 ">37) La personne a-t-elle réussi à répondre à la question : <strong class=" mr-4">{{questionTrentecepte}}</strong></p>
      <h6 class="text-danger mt-4">Lire et comprendre la consigne (lecture silencieuse)
    </h6>
      <p class="mt-4 ">38) La personne a-t-elle réussi à mettre les phrases dans l’ordre :  <strong class=" mr-4">{{questionTrentehuite}}</strong></p>
      <h6 class="text-danger mt-4">Rédaction de quelques petites phrases
    </h6>
      <p class="mt-4 ">39) La personne a-t-elle réussi à rédiger ou compléter les phrases :  <strong class=" mr-4">{{questionTrenteneuf}}</strong></p>
      <p class="mt-4 ">40) La personne a-t-elle signé la lettre :  <strong class=" mr-4">{{questionQuarante}}</strong></p>
      
</div>
