<!-- debut de devision de contrat -->
<h2 class="text-center text-secondary m-md-5">Générer votre contrat avec l'Estiam</h2>
<div class="container p-md-5 text-secondary " id="container">

    <!-- debut de la tete de contrat -->
    <div class="row mt-5">
        <div class="col-md-6 w-sm-100 "><img class="w-50" src="../../../assets/logo_estiam_rvb.jpg" alt=""></div>
        <div class="col-md-6 border border-dark text-center">
            <h1 class="sm-text-uppercase sm-">contrat de prestation pedagogique sans exclusivite</h1>
        </div>
    </div>
    <!-- fin de la tete de contrat -->
    <div>
        <p>Entre les soussignés :</p>
        <h5> ÉSTIAM – École supérieure des technologies de l’information appliquées aux métiers</h5>
        <p>organisme de formation enregistré sous le n°11 91 07693 91 auprès du Préfet de la Région Île-de-France (cet
            enregistrement ne vaut pas agrément de l’État), enregistré au RCS de Paris sous le numéro B 413 424 888
            00050, code NAF 6202A, </p>
    </div>
    <p>représenté par Monsieur Olivier COMES, Président, </p>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6 ">
            <p class="float-right"> ci-après désigné « ÉSTIAM », </p>
        </div>
    </div>

    <!-- **********************  debut formulaire information entreprise ou intervenant *************** -->
    <form>

        <div class="form-group">
            <label>Entreprise : </label>
            <input type="text" class="form-control" placeholder="Nom de l'entreprise ou du formateur ">
        </div>
        <div class="form-group">
            <label>Siège social : </label>
            <input type="text" class="form-control" placeholder="Adresse ">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Téléphone : </label>
                <input type="text" class="form-control" placeholder="standard">
            </div>
            <div class="form-group col-md-6">
                <label>N° d’organisme de formation</label>
                <input type="text" class="form-control" placeholder="Numéro organisme">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>SIRET : </label>
                <input type="text" class="form-control" placeholder="xx xx xx xx ">
            </div>
            <div class="form-group col-md-6">
                <label>Code NAF :</label>
                <input type="text" class="form-control" placeholder="xx xx xx xx ">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Représentée par : </label>
                <input type="text" class="form-control" placeholder="Monsieur NOM & Prénom ">
            </div>
            <div class="form-group col-md-6">
                <label>En qualité de :</label>
                <input type="text" class="form-control" placeholder="Fonction  ">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Téléphone : </label>
                <input type="text" class="form-control" placeholder="igne directe ou mobile">
            </div>
            <div class="form-group col-md-6">
                <label>e-Mail :</label>
                <input type="text" class="form-control" placeholder="xx @ xx.x  ">
            </div>
        </div>
        <p>
            ÉSTIAM et le Prestataire étant ci-après désignées individuellement une « Partie » et ensemble les « Parties
            »,
        </p>
        <button type="submit" class="btn btn-secondary">Generer mon contrat !</button>
    </form>
    <!-- **********************  fin formulaire information entreprise ou intervenant *************** -->

    <p class="mt-5">Il a été convenu ce qui suit</p>

    <!-- *********************************     Article 1 ***************************************************** -->
    <p>
        <strong>ARTICLE 1 : MISSION</strong>, sans exclusivité <br> Dans le cadre de l’activité pédagogique d’ÉSTIAM,
        cette dernière confie au Prestataire la mission de réaliser des activités pédagogiques sur ses campus. Le
        Prestataire exerce son activité en toute indépendance, sans aucun lien de subordination avec ÉSTIAM. Dans ce
        cadre il assurera la responsabilité de l’exécution de la prestation. Pour ce faire il recevra une rétribution
        définie à l’article 4. Aucune exclusivité n’est attachée à ladite mission. Le Prestataire sera libre de prendre
        d’autres missions auprès d’autres établissements d’enseignements publics ou privés, à charge pour lui d’en
        informer ÉSTIAM. En fonction de son statut (personne physique, personne morale) le Prestataire s’engage
        préalablement à toute activité dans le cadre du présent contrat à transmettre à ÉSTIAM les documents adéquats
        listés en Annexe 1. De plus, le Prestataire communiquera par écrit à ÉSTIAM, avant le commencement de la
        prestation, les noms, prénoms et CV des intervenants chargés de réaliser la ou les missions objet(s) du présent
        contrat.
    </p>


    <!-- **************************************** ARTICLE 2 ************************************************************** -->

    <p> <strong>ARTICLE 3 : LES ACTIVITES PEDAGOGIQUES</strong> <br> Les activités pédagogiques pourront notamment être
        de plusieurs types : cours avec ou sans TP, cours avec ou sans mini projet, khôlles seules, évaluations
        individuelles ou en groupe, soutenances, participation à des jurys. Les marchés conclus sur la base de cet
        accord cadre pourront être fractionnés. Ils feront l’objet de bons de commande, mentionnant la matière, la
        durée, le type d’activité, le planning d’intervention et le tarif d’intervention convenus entre les Parties. Ces
        bons de commande seront signés par le Prestataire et ÉSTIAM. Il pourra y avoir plusieurs marchés liés à
        plusieurs bons de commande pendant la durée du contrat. </p>


    <p>
        <strong>ARTICLE 4 : TARIF ET HONORAIRES</strong> <br>
        Les Parties conviennent que le tarif des honoraires versés au Prestataire par ÉSTIAM est le suivant :
    </p>
    <ul style="">
        <li>Cours avec corrections, classe de 1ère ou 2ème année, par heure
            ..........................................................sans objet € HT. </li>
        <li>Cours sans corrections, classe de 1ère ou 2ème année, par heure
            ..........................................................sans objet € HT.</li>
        <li>Cours avec corrections, classe de 3ème année, par heure
            ...............................................................sans objet € HT. </li>
        <li>Cours sans corrections, classe de 3ème année, par heure
            ...............................................................sans objet € HT.</li>
        <li> Cours avec corrections, classe de 4ème ou 5ème année, par heure
            ........................................................sans objet € HT</li>
        <li>Cours sans corrections, classe de 4ème ou 5ème année, par heure
            ........................................................sans objet € HT.</li>
        <li> Animation de hackathon, par heure
            .........................................................................sans
            objet € HT.</li>
        <li>Participation à un jury, par heure
            .......................................................................sans
            objet € HT.</li>
        <li>Accompagnement ou supervision de mémoires, par heure
            ..................................................................sans objet € HT.</li>
        <li>Réduction sur volume commandé : à partir de 56 heures
            ..........................................................Réduction de 15%. </li>
    </ul>

    <p>La TVA est le cas échéant appliquée selon les dispositions légales et réglementaires en vigueur. Ces honoraires
        sont exemptés de TVA (Article 293B du CGI)</p>
    <p>Il s’agit d’honoraires fixes et forfaitaires incluant :</p>


    <ul>
        <li>La préparation personnelle du cours ou des évaluations (cours, accompagnement à distance, tutorat, khôlles)
            ;</li>
        <li>La fourniture des outils nécessaires au bon déroulement des activités pédagogiques objets du présent
            contrat, notamment toutes contributions à la création de supports de cours, syllabi, tutoriels, évaluations
            des apprenants avec leurs barèmes et leurs corrigés (y compris les éventuels rattrapages et leurs corrigés),
            vidéos de présentations pédagogiques au format électronique (notamment Word, PDF ou PowerPoint) en les
            communiquant à l’adresse adminformateurs@estiam.com dans un délai maximum de deux semaines calendaires avant
            le début des activités pédagogiques. En cas de dépassement de ce délai, une pénalité de retard de 25,00€
            hors taxes par jour ouvré sera déduite des montants dus au Prestataire par ÉSTIAM ;</li>
        <li> L’acte pédagogique interactif en hybride, c’est-à-dire simultanément en présentiel dans les locaux d’ÉSTIAM
            et en distanciel (cours audiovisuels et vidéos enregistrés, cours en face à face, accompagnement, tutorat,
            khôlles) en respectant les dates et horaires de cours convenus d’un commun accord avec ÉSTIAM et ensuite
            inscrits au planning des étudiants ;</li>
        <li>Le cas échéant compléter des formulaires de suivi pédagogique en début (notamment le formulaire Formateur -
            Évaluation de démarrage de module à fin de cadrage de la formation en fonction des apprenants) et en fin de
            formation (formulaire Formateur - Évaluation de fin de module afin d’établir le bilan pédagogique de la
            formation) ; </li>
        <li> Le cas échéant, la surveillance et la correction des Travaux Pratiques notés (TP notés), examens,
            exercices, projets ou dossiers réalisés par les étudiants, évaluations continues, cours avec TP ou mini
            projet, accompagnement à distance ou tutorat avec TP noté ou projet ; </li>
        <li>La saisie dans le système d’information d’ÉSTIAM des notes de TP notés, examens, exercices, projets ou
            dossiers selon les indications techniques données par ÉSTIAM. La correction, la remise des corrigés ainsi
            que la saisie des notes de TP notés, examens, exercices, projets ou dossiers, devront intervenir dans un
            délai maximum de 2 semaines calendaires après chaque session d’évaluation continue. En cas de dépassement de
            ce délai, une pénalité de retard de 50,00€ hors taxes par jour ouvré sera déduite des montants dus au
            Prestataire par ÉSTIAM ;</li>
        <li>Le suivi des présences des étudiants relevant de la formation professionnelle continue (notamment en contrat
            de professionnalisation) : le Prestataire s’engage à faire signer à chacun des étudiants pour chacun des
            cours qu’il dispense, pour chaque demi-journée, une feuille de présence. Il vérifiera que chaque feuille de
            présence comporte la date, les heures de début et fin de chaque demi-journée de cours, le nom et la
            signature du Prestataire, le nom de la matière ou du cours enseigné, le nom et la signature de chaque
            étudiant par demi-journée. Il en remettra un exemplaire à l’accueil de son campus de formation à la fin de
            chaque journée. En cas de dépassement de ce délai de plus de 3 jours ouvrés, une pénalité de retard de
            50,00€ hors taxes par jour ouvrable sera déduite des montants dus au Prestataire par ÉSTIAM.</li>
        <li>Le Prestataire s’engage à entretenir et à développer ses compétences, à être en veille sur les thématiques
            objets de la présente convention et à exploiter les enseignements de cette veille à cette fin. </li>
    </ul>


    <!-- *************************  ARTICLE 5 ********************************* -->
    <p> <strong>ARTICLE 5 : FACTURATION </strong> <br> La facturation des prestations délivrées interviendra au plus tôt
        après que les notes et les corrections des copies des élèves aient été délivrées à ÉSTIAM déduction faite des
        éventuelles pénalités de retard. Les factures devront être envoyées par le Prestataire soit par messagerie
        électronique à l’adresse service-facturation@estiam.com, soit par lettre recommandée avec accusé de réception à
        l’adresse suivante : ÉSTIAM - 31 rue Paul Meurice - 75020 Paris - France. Les factures seront payées dans un
        délai de 60 jours à compter de leur date de première présentation à cette adresse.</p>


    <!-- ****************************ARTICLE 6 ********************************************** -->
    <p> <strong>ARTICLE 6 : EXECUTION DE LA MISSION </strong> <br> Les prestations du Prestataire sont strictement
        limitées à celles définies à l’Article 1 ci-dessus. Pour chaque marché, le Prestataire dispensera les heures de
        cours mentionnées sur le bon de commande en respectant le planning convenu d’un commun accord et qui y est
        mentionné. Le Prestataire apportera tous ses soins à la réalisation des prestations ci-dessus indiqués. Le
        Prestataire établit librement le contenu de son cours et choisit librement les méthodes pédagogiques qui lui
        paraissent les plus adaptées. Il n’est soumis à aucun ordre, aucune directive ni aucun contrôle dans l’exécution
        de sa prestation, sous réserve toutefois de respecter les délais fixés par ÉSTIAM et acceptés par lui. Le
        Contrat étant conclu entre des personnes indépendantes, la collaboration en résultant ne pourra en aucune façon
        porter atteinte à l'indépendance des Parties. Le Prestataire ne pourra prendre aucune décision pour le compte
        d’ÉSTIAM, à moins d'y avoir au préalable été expressément autorisé par écrit par ÉSTIAM. </p>
    <p>Dans le cas où ÉSTIAM annule des heures d’intervention 14 jours calendaires avant leurs réalisations, le
        Prestataire se réserve le droit de facturer les heures non réalisées à ÉSTIAM. De même, ÉSTIAM se réserve le
        droit de facturer les heures d’intervention non réalisées par le Prestataire aux mêmes tarifs qui ont été fixés
        par l’article 4 du présent Contrat, si le Prestataire annule des heures d’interventions dans les 14 jours
        calendaires avant leurs dates d’effet.</p>

    <!-- ********************************  Article 7 ********************************************** -->
    <p><strong>ARTICLE 7 - INTUITU PERSONAE</strong> <br> A titre exceptionnel, en cas d’impossibilité constatée, le
        Prestataire s’engage à faire réaliser la prestation par un tiers dont les compétences sont en adéquation avec la
        tâche à effectuer, après validation préalable d’ÉSTIAM.</p>

    <!-- *******************   ARTICLE 8 *************************************** -->
    <p> <strong>ARTICLE 8 : LIEUX ET PERSONNELS DES PARTIES </strong> <br> Quel que soit le lieu où il accomplit sa
        mission, le personnel de chaque partie reste toujours sous l'entière responsabilité de son employeur et n'est
        jamais placé sous la responsabilité civile de l'autre partie. Lorsque des travaux sont exécutés dans les locaux
        de l'autre partie, le personnel de chacune des parties se conformera aux prescriptions en vigueur dans
        l'établissement où il effectue sa mission, notamment le règlement intérieur, les consignes de sécurité et les
        horaires habituels de celui-ci.</p>

    <!-- *****************************************  ARTICLE 9 ************************************************************ -->
    <p>
        <strong> ARTICLE 9 : PUBLICITÉ </strong> <br> Chaque partie peut se prévaloir du présent contrat auprès de
        tiers. Chaque partie se réserve le droit de modifier ses marques unilatéralement. Chaque partie s'engage à
        utiliser les logotypes et marques de l'autre partie dans le strict respect de la charte graphique de l'autre
        partie.
    </p>
    <!-- ***********************************   ARTICLE 10 ***************************************************************
         -->
    <p> <strong>ARTICLE 10 : PROPRIÉTÉ INTELLECTUELLE </strong> <br> Le Prestataire sera propriétaire des contributions
        qu’il fournira dans le cadre du présent contrat. Il s'engage par ailleurs à céder au profit de ÉSTIAM, au fur et
        à mesure de leurs créations, l’ensemble des droits d’exploitation des contributions que le Prestataire fournira
        dans le cadre du présent contrat (notamment contributions à la création de supports de cours, tutoriels, vidéos
        de présentations pédagogiques). En conséquence, ÉSTIAM acquiert de façon définitive la titularité de l’ensemble
        des droits de représentation et de reproduction sur ces contributions réalisées </p>
    <p>par le Prestataire dans le cadre du présent contrat : </p>

    <ul>
        <li>Le droit de numériser ou faire numériser, par compression, compactage et autres procédés, reproduire ou
            faire reproduire, les contributions en tout ou partie, sous tout format et quelque support que ce soit connu
            ou inconnu à ce jour, et notamment à titre d’exemple, sans que cette liste ne soit limitative, sur toute
            édition papier/graphique, numérique, optonumérique, pellicule, film, affiche, catalogue, phonogramme et/ou
            vidéogramme et/ou tous supports multimédias ainsi que leur conditionnement et/ou service en ligne, sous
            quelque marques, étiquettes et/ou label au choix de ÉSTIAM et/ou ses contractants ; </li>
        <li>Le droit d’établir ou de faire établir, en nombre qu’il plaira à ÉSTIAM ou à ses ayant-droits, tous
            originaux, doubles ou copies de la version définitive des contributions, avec ou sans modification, sur tous
            supports analogiques ou numériques ;</li>
        <li>Le droit de mettre en circulation dans le monde entier ces supports originaux, doubles et copies, avec ou
            sans modification, pour toute communication au public par toutes voies et modes d’exploitation connus et
            inconnus à ce jour, distribuer et communiquer au public, le droit de vendre ou de faire vendre, le droit de
            location et de prêt ainsi que le droit de représenter et de communiquer au public, en tout ou partie et en
            tous formats, par tous moyens connus ou inconnus à ce jour, par tous procédés, et notamment par
            télédiffusion par réseaux ou autres systèmes de communication (tels qu’Internet, le câble, le satellite,
            etc.), télévisuelle, cinématographique, et ce à titre payant ou à titre gratuit, à destination de tout ou
            partie du public, et ce à des fins promotionnelles et/ou publicitaires ; </li>
        <li>Le droit de reproduire tout extrait, partie ou totalité des contributions, et tout extrait, avec ou sans
            modification, pour l’intégration dans tous supports tels que notamment visés ci-avant ; </li>
        <li>Le droit de reproduction, de représentation et de communication publique des contributions, en tout ou
            partie, avec ou sans modification, sur tous supports, par tous modes (et notamment par télédiffusion, et par
            tous réseaux et système de télécommunication et télétransmission) pour les exploitations promotionnelles,
            publicitaires et/ou toutes actions de communication ; et au sein d’œuvres audiovisuelles, graphiques,
            électroniques, numériques ou autres, ou sur leur matériel de présentation. </li>
        <li>Le droit d’exploiter les contributions avec ou sans modification par tous procédés audiovisuels non encore
            connu à ce jour ; </li>
        <li>Le droit d’exploiter les contributions sous forme d’extraits, par intégration et avec ou sans modification,
            dans un programme multimédia interactif pouvant être exploité sur tous supports destinés à la vente, à la
            location ou au prêt pour l’usage privé du public ou par télédiffusion par voie hertzienne terrestre, par
            satellite ou en réseau. Par programme multimédia interactif, on entend un ensemble homogène, lors de la
            consultation, composé d’éléments de genres différents et notamment de textes, de sons, d’images fixes ou
            animées, dont la structure et l’accès sont régis par un logiciel permettant l’interactivité ;</li>
        <li>Le droit d’exploiter les contributions sous forme d’extraits avec ou sans modification, « en ligne » et/ou
            sur support électronique et/ou numérique, notamment par l’intermédiaire de réseaux de télécommunication,
            et/ou d’un système télématique interactif, tels que par exemple sur les réseaux Internet, Intranet, réseaux
            de téléphonie mobile, service dits « online » ;</li>
        <li>Le droit de publier toutes les photographies ou les images prises du Prestataire dans le cadre du présent
            Contrat. Ces images peuvent être exploitées dans le cadre de la communication de ÉSTIAM, notamment dans la
            presse, lors d’expositions, sur de la publicité, sur le site internet, sur les réseaux sociaux de l’école en
            incluant la possibilité d’un changement de cadrage, de couleur et de densité qui pourrait survenir lors de
            la reproduction. </li>
        <li>Le droit d’adapter les contributions, y compris par extraits avec ou sans modification, dans les conditions
            visées aux points ci-avant, sur tout matériel se rapportant à l’activité de ÉSTIAM, et à tous les produits
            édités par ÉSTIAM, tels que notamment, les affiches, catalogues, phonogrammes, vidéogrammes, sous toute
            taille et quelque forme que soit leur résolution.</li>
    </ul>

    <p>Cette cession est consentie pour le monde entier pour la durée légale de protection des droits d’auteur, telle
        que définie par la législation française. Cette cession telle que définie ci-dessus est définitive et la rupture
        du présent contrat et ce, quelle que soit sa cause, n’affectera en aucune façon l’étendue et la durée de la
        présente cession. Il est de convention expresse entre les parties qu’aucun autre écrit ne sera nécessaire pour
        constater la présente cession du Prestataire au profit de ÉSTIAM.</p>

    <!-- *****************************************************  ARTICLE 11 ****************************************************
         -->

    <p> <strong>ARTICLE 11 : CONFIDENTIALITÉ</strong> <br> Chacune des parties convient de garder secrètes et
        confidentielles par tous les moyens raisonnables et à faire garder par ses personnels ou les personnels qu'elle
        ferait travailler directement ou par personne interposée les informations secrètes et confidentielles de l'autre
        partie auxquelles elle aurait pu avoir accès pour l'exécution du Contrat. Les parties ne seront tenues de
        protéger que les seules Informations qui sont divulguées sous une forme tangible et clairement identifiées comme
        confidentielles ou protégées, lors de leur divulgation ou initialement divulguées sous une forme non-tangible et
        considérées comme confidentielles ou protégées lors de leur divulgation, et qui seront ensuite résumées par
        écrit et désignées comme confidentielles ou protégées, et communiquées dans les trente jours suivant leur date
        de divulgation initiale (ci-après les "Informations Confidentielles"). Cet engagement de confidentialité ne
        s'applique pas aux Informations qui se trouvaient déjà en la possession de la partie réceptrice avant qu'elles
        ne lui soient communiquées par la partie divulgatrice, sans que la partie réceptrice ne soit tenue d'une
        obligation de confidentialité, ou tomberaient dans le domaine public, sans que ce soit en raison d'une faute
        commise par la partie réceptrice, ou seraient légalement communiquées à la partie réceptrice par un tiers, sans
        que la partie réceptrice ne soit tenue d'une obligation de confidentialité, ou seraient développées à titre
        indépendant par l'une ou l'autre des parties, sans utilisation des Informations Confidentielles. Les parties
        s'engagent à ne pas utiliser les Informations Confidentielles pour leur propre compte ou bénéfice, ou pour le
        compte ou bénéfice d'un tiers, sauf accord préalable écrit de l'autre partie. Le présent article couvre toutes
        les Informations Confidentielles qui seront divulguées en cours d'exécution du Contrat. Le Prestataire,
        intervenant aux présentes à titre personnel, s'engage à ne pas divulguer ou communiquer sous aucune forme, ainsi
        qu'à ne pas utiliser directement ou indirectement toute information, donnée ou savoir-faire confidentiels de
        toute nature, dont il aurait eu connaissance à l'occasion de l'exécution du Contrat, relatifs à ses activités ou
        présence au sein d’ÉSTIAM, concernant notamment, mais sans limitation, les projets, les études, rapports et
        analyses, et plus généralement toute donnée commerciale (fichiers clients et fichiers étudiants), technique,
        financière, juridique, fiscale ou administrative, et les affaires d’ÉSTIAM. Le présent engagement de
        confidentialité est valable aussi bien pendant la durée de validité du Contrat que durant les 3 années qui
        suivront sa cessation. Le Prestataire s'engage à restituer, au plus tard le dernier jour d'exécution du Contrat,
        tout bien ou matériel mis à sa disposition par ÉSTIAM, ainsi que tout document écrit ou enregistré contenant des
        informations confidentielles. </p>

    <!-- *********************************************      Article 12 **************************************************
         -->

    <p> <strong>ARTICLE 12 : NON-SOLLICITATION </strong> <br> Sauf accord préalable par écrit d’ÉSTIAM, Le Prestataire
        s’engage à ne pas embaucher, ni travailler de quelque sorte que ce soit, directement ou indirectement, avec tout
        collaborateur d’ÉSTIAM quel que soit son statut juridique et social pendant la durée d’exécution du Contrat, et
        pendant une durée de deux ans à compter de l’expiration du Contrat, même si la sollicitation vient dudit
        collaborateur. En cas de non-respect de cette clause, ÉSTIAM pourra prétendre à une indemnité d’un montant
        minimum de cent mille euros hors taxes et calculée selon la formule suivante : douze fois la dernière
        rémunération mensuelle brute, calculée sur la moyenne des trois derniers mois, perçue par ce collaborateur ainsi
        débauché. De même, sauf accord préalable par écrit d’ÉSTIAM, Le Prestataire s’engage à ne pas travailler de
        quelque sorte que ce soit, directement ou indirectement, avec un client d’ÉSTIAM, personne physique ou personne
        morale, rencontré par Le Prestataire lors de l’exécution du Contrat quel que soit son statut juridique et social
        pendant la durée d’exécution du Contrat, et pendant une durée de deux ans à compter de l’expiration du Contrat,
        même si la sollicitation vient du client d’ÉSTIAM. En cas de non-respect de cette clause, ÉSTIAM pourra
        prétendre à une indemnité d’un montant minimum de deux cent mille euros hors taxes et calculée selon la formule
        suivante : le chiffre d’affaires d’ÉSTIAM facturé pendant les douze derniers mois avant l’expiration du présent
        contrat au client d’ÉSTIAM ainsi sollicité. </p>

    <!-- **************************************************  ARTICLE 13 *************************************************************** -->

    <p> <strong> ARTICLE 13 : FORCE MAJEURE </strong> <br> Aucune des parties ne pourra être tenue pour responsable d'un
        retard d'exécution, d'une exécution partielle ou d'un défaut d'exécution d'une obligation mise à sa charge par
        le Contrat qui serait dû à un événement présentant les caractéristiques de la force majeure au regard de la
        jurisprudence des juridictions française (la "Force Majeure"), à condition toutefois que la partie concernée
        notifie rapidement par écrit à l'autre partie l'existence de cette Force Majeure et reprenne ses obligations dès
        que possible. </p>

    <!-- **********************************************    ARTICLE 14 *********************************************** -->
    <p> <strong>ARTICLE 14 : NULLITE PARTIELLE ET TOLÉRANCE</strong> <br> La déclaration de nullité ou d'inefficacité
        d'une quelconque stipulation du Contrat n'entrainera pas de plein droit la nullité ou l'inefficacité des autres
        stipulations. La tolérance d'une partie aux inexécutions de l'autre partie ne fait pas présumer une future
        tolérance de la même ou d'autres inexécutions pas plus qu'elle ne caractérise l'intention de l'une ou l'autre
        des parties de renoncer à faire respecter les droits dont elle dispose au titre du Contrat. </p>


    <!-- *****************************************************   ARTICLE 16 *************************************************** -->
    <p> <strong>ARTICLE 15 : DROIT APPLICABLE ET ATTRIBUTION DE COMPÉTENCE </strong> <br> Les conditions générales
        d’achat d’ÉSTIAM sont les seules applicables au présent contrat. Elles sont disponibles à l’adresse
        https://www.estiam.education/cga. Le Contrat est soumis au droit français. Pour le cas où les parties ne
        pourraient pas régler leurs différends éventuels à l'amiable, elles conviennent expressément de les soumettre,
        où que soient les lieux d'exécution des prestations ou les sièges sociaux des parties, à la compétence exclusive
        du Tribunal de Commerce de Paris, seul compétent pour régler le litige.</p>

    <p>Fait en deux exemplaires originaux à : .................. le : .............</p>


    <div class="row">
        <div class="col-md-6 text-center mt-5">ESTIAM br
            Olivier COMOES <br>
            President <br>
            Signature et Cachet
        </div>
        <div class="col-md-6 text-center mt-5">
            <form>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Le Prestataire </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="prestataire ">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Nom et prénom </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="nom et prénom  ">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Fonction </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="fonction ">
                    </div>
                </div>
                <!--  signature   ************************************************ si********************************************************* -->
              
                <div class="form-group row">
                    <h3 class="col-md-6 " style="font-family: monospace;">signature</h3>
                    <div class="col-md-6">
                        <canvas class="w-100" #signPadCanvas (touchstart)="startSignPadDrawing($event)"
                        (touchmove)="movedFinger($event)"></canvas>
                        <button class="btn btn-success " color="secondary" (click)="saveSignPad()"><i class="fa-solid fa-circle-check"></i></button>
                        <button class="btn btn-danger" (click)="clearSignPad()"><i class="fa-sharp fa-solid fa-trash"></i></button>
                        <!-- <button class="btn btn-warning" (click)="undoSign()">Undo</button> -->
                    </div>
                    <span style="font-family: monospace;">  </span>
                        <div>
                            votre signature : <img src='{{ signImage }}' />
                        </div>
                  </div>

                <!-- **** fin signature ******************************************************************************************************* -->
            </form>
        </div>
    </div>

    <button class="btn btn-primary" (click)="onTelechargeContrat()">Telecharger mon contrat !</button>

    <!-- **********************************   avant la fermeture de div container  -->
</div>
<!-- fin de devision de contrat -->