<div class="container-md" *ngIf="!lespiecesDemande">
  <h2 class="text-center text-default mt-md-5 mb-md-5 text-danger">Les pièces obligatoire pour travailler avec l'Estiam
  </h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> CV</li>
    <li class="list-group-item">copie recto-verso carte d'identité ou copie du passeport lisible et en cours de validité
    </li>
    <li class="list-group-item"> copie carte vitale ou attestation sécurité sociale (lisible)</li>
    <li class="list-group-item"> Extrait de casier judiciaire de moins de trois mois (bulletin numéro 3)</li>
    <li class="list-group-item">attestation (URSSAF, RSI ou MSA) de fourniture des déclarations sociales et de paiement
      des cotisations et contributions de sécurité sociale datant de moins de 6 mois </li>
    <li class="list-group-item">RIB avec IBAN et BIC (compte courant obligatoirement) – au nom du candidat où compte
      joint (uniquement Mr X OU Mme X – pas de ET) – pas de RIB entreprise </li>
    <li class="list-group-item"> copie de l’inscription à un ordre professionnel ou copie extrait de KBIS ou avis de
      situation au répertoire SIRENE ou attestation d’affiliation au régime d’auto entrepreneur </li>
    <li class="list-group-item"> N° d’organisme de formation</li>
    <li class="list-group-item"> copie CET en cours (Contribution Économique Territoriale) </li>
    <li class="list-group-item"> attestation précisant si les rémunérations du candidat pour l'année civile dépassent ou
      ne dépassent pas le plafond de la sécurité sociale établi par le comptable</li>
    <li class="btn btn-secondary"> S'il n'est pas assujetti à la CET :</li>
    <li class="list-group-item"> attestation des impôts de non assujettissement à la CET</li>
    <li class="list-group-item"> copie des 3 derniers avis d'imposition</li>
  </ul>

  <button class="btn btn-secondary mt-md-5 " (click)="piecesDemande()">Envoyer mes éléments à l'Estiam .</button>
</div>

<!-- *********************************************************************** -->

<div class="container" *ngIf="lespiecesDemande">
  <div class=" card m-3 " >
    <h5 class="card-header">Mes informations !</h5>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col">
            <label>Genre</label>
            <select formControlName="genre" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.genre.errors }">
              <option value=""></option>
              <option value="Mr">Mr</option>
              <option value="Miss">Miss</option>
            </select>
            <div *ngIf="submitted && f.genre.errors" class="invalid-feedback">
              <div *ngIf="f.genre.errors.required">Genre is required</div>
            </div>
          </div>
          <div class="form-group col-5">
            <label>Votre nom</label>
            <input type="text" formControlName="firstName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group col-5">
            <label>Votre prénom</label>
            <input type="text" formControlName="lastName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <!-- *********************************** -->
        <div class="form-group">
          <label>Téléphone</label>
          <input type="text" formControlName="telephone" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }" />
          <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
            <div *ngIf="f.telephone.errors.required">Telephone is required</div>
          </div>
        </div>
        <!-- *********************************** -->
        <!-- *********************************** -->
        <div class="form-group">
          <label>N° de organismeformation</label>
          <input type="text" formControlName="Norganismeformation" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.Norganismeformation.errors }" />
          <div *ngIf="submitted && f.Norganismeformation.errors" class="invalid-feedback">
            <div *ngIf="f.Norganismeformation.errors.required">N° organismeformation is required</div>
          </div>
        </div>
        <!-- *********************************** -->
        <div class="form-group">
          <label>Biographie </label>
          <textarea type="text" formControlName="biographie" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.biographie.errors }"></textarea>
          <div *ngIf="submitted && f.biographie.errors" class="invalid-feedback">
            <div *ngIf="f.biographie.errors.required">biographie is required</div>
          </div>
        </div>
        <!-- ******************************************** -->
        <div class="text-center">
          <button class="btn btn-primary mr-1">Envoyer !</button>
          <button class="btn btn-secondary" type="reset" (click)="onReset()">Annuler</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- ******************************************************* -->

