<div class="container">
  <div class="float-end">
    <div class="float-end fixed-top" style="margin-top: 100px;">
      <!-- <span class="btn btn-info mb-1">Score activité courant : {{ compt }} -->
      <!-- </span><br> -->
      <!-- <span class="btn btn-success"> -->
        <!-- {{comptService.compteur}}/40 -->
        <!-- Score tout les activités : {{ compteur }} / 40 -->
      <!-- </span> -->
      <p lass="btn _bg border rounded-circle"> 5 / 40</p>
  </div>
  </div>
  <h4 class="text-center mt-4 font-weight-bold mb-4">S’INSCRIRE SUR DIEGO</h4>
  
  <a  class="btn btn-info ml-5 mr-5 float-end"  target="_blank"
  href="https://www.illettrisme.org/ressources-documentaires/documents-telechargeables/func-startdown/764/">
  Telecharger le formulaire d'identité</a>

  <h5 class="container text-center border-top pt-4 border-danger">
    ACTIVITE N°2: Renseigner un formulaire d’identité
  </h5>

  <form #f="ngForm"
    (ngSubmit)="activiteidentitie(f)"
    class="border border-primar rounded p-4 text-muted"
  >
    <!----------------------------------       question  un  ------------------------------------>
    <h6 class="text-center mt-4 mb-4">
      Utiliser et communiquer avec les outils numériques
    </h6>
    <div class="row  lrg m-4 ">
      <div class="col-md-6 bg-light border border-dark rounded p-4 ">
        <p>
          <i class="text-danger mr-4 fas fa-question-circle"></i> Je vais
          maintenant vous proposer de vous inscrire sur DIEGO. D’abord, j’ai
          quelques questions sur votre pratique de l’informatique (ordinateur,
          téléphone) :<br />
          Savez-vous vous servir d'un ordinateur avec un clavier?
        </p>
      </div>
      <div class="col md-8">
        <!-- ***************************************************************************************** -->
        <p class="mt-4">
          6) La personne sait-elle se servir d’un ordinateur avec un clavier?
        </p>
        <div class="form-group form-check mb-4 text-muted">
          <label class="form-check-label mr-4">
            <input
              (change)="handleChangequesSix($event)"
              class="form-check-input"
              name="quesix"
              (change)="handleChange($event)"
              value="oui"
              [(ngModel)]="quesix"
              type="radio"
              required
            />OUI
          </label>
          <div>
            <label class="form-check-label">
              <input
                (change)="handleChangequesSix($event)"
                class="form-check-input"
                (change)="handleChangenon($event)"
                name="quesix"
                value="non"
                [(ngModel)]="quesix"
                type="radio"
                required
              />NON
            </label>
          </div>
        </div>
      </div>
    </div>
    <!------------------------   fin div un ------------------->

    <!----------------------------------       question  deux  ------------------------------------>
    <div class="row  lrg m-4">
      <div class="col-md-6 bg-light border border-dark rounded p-4">
        <p>
          <i class="text-danger mr-4 fas fa-question-circle"></i> Avez-vous une
          adresse e-mail? A quelle fréquence l’utilisez-vous?
        </p>
      </div>
      <div class="col md-8">
        <!-- ***************************************************************************************** -->
        <p class="mt-4">7) La personne a-t-elle une adresse mail ?</p>
        <div class="form-group form-check mb-4 text-muted">
          <label class="form-check-label mr-4">
            <input
              (change)="handleChangequesSept($event)"
              class="form-check-input"
              name="quessept"
              (change)="questionhuite($event)"
              value="oui"
              [(ngModel)]="quessept"
              type="radio"
              required
            />OUI, elle l’utilise plusieurs fois par semaine.
          </label>
          <div>
            <label class="form-check-label">
              <input
                (change)="handleChangequesSept($event)"
                class="form-check-input"
                name="quessept"
                value="ouienpartie"
                (change)="questionhuite($event)"
                [(ngModel)]="quessept"
                type="radio"
                required
              />OUI, elle l’utilise rarement
            </label>
          </div>
          <div>
            <label class="form-check-label">
              <input
                (change)="handleChangequesSept($event)"
                class="form-check-input"
                name="quessept"
                (change)="questionhuite($event)"
                value="non"
                [(ngModel)]="quessept"
                type="radio"
                required
              />NON, elle n’a pas de mail ou ne s’en souvient pas
            </label>
          </div>
        </div>
      </div>
    </div>
    <!------------------------   fin div deux ------------------->

    <!----------------------------------       question  troix  ------------------------------------>

    <div class="row  lrg m-4" *ngIf="questionhuit">
      <div class="col-md-6 bg-light border border-dark rounded p-4">
        <p>
          <i class="text-danger mr-4 fas fa-question-circle"></i> Savez-vous
          envoyer un email à plusieurs personnes?
        </p>
      </div>
      <div class="col md-8">
        <!-- ***************************************************************************************** -->
        <p class="mt-4">
          8) La personne sait-elle envoyer un mail à plusieurs personnes ?
        </p>
        <div class="form-group form-check mb-4 text-muted">
          <label class="form-check-label mr-4">
            <input
              (change)="handleChangequesHuit($event)"
              class="form-check-input"
              name="queshuit"
              value="oui"
              [(ngModel)]="queshuit"
              type="radio"
              required
            />OUI
          </label>
          <div>
            <label class="form-check-label">
              <input
                (change)="handleChangequesHuit($event)"
                class="form-check-input"
                name="queshuit"
                value="non"
                [(ngModel)]="queshuit"
                type="radio"
                required
              />NON
            </label>
          </div>
        </div>
      </div>
    </div>
    <!------------------------   fin div troix ------------------->

    <!----------------------------------       question  quatre  ------------------------------------>

    <div class="row  lrg m-4">
      <div class="col-md-6 bg-light border border-dark rounded p-4">
        <p>
          <i class="text-danger mr-4 fas fa-question-circle"></i> Est-ce que
          vous envoyez souvent des SMS / textos avec le téléphone?
        </p>
      </div>
      <div class="col md-8">
        <p>
          9) La personne utilise-t-elle les sms (ou messagerie instantanée)?
        </p>
        <!-- ***************************************************************************************** -->
        <div class="form-group form-check mb-4 text-muted">
          <label class="form-check-label mr-4">
            <input
              class="form-check-input"
              name="quesneuf"
              value="oui"
              [(ngModel)]="quesneuf"
              type="radio"
              required
            />OUI, elle utilise les textos régulièrement
          </label>
          <div>
            <label class="form-check-label">
              <input
                (change)="handleChangequesNeuf($event)"
                class="form-check-input"
                name="quesneuf"
                value="ouienpartie"
                [(ngModel)]="quesneuf"
                type="radio"
                required
              />OUI, mais c’est rare ou avec de l’aide
            </label>
          </div>
          <div>
            <label class="form-check-label">
              <input
                (change)="handleChangequesNeuf($event)"
                class="form-check-input"
                name="quesneuf"
                value="non"
                [(ngModel)]="quesneuf"
                type="radio"
                required
              />NON, elle n’utilise pas les textos
            </label>
          </div>
        </div>
      </div>
    </div>
    <!------------------------   fin div quatre ------------------->

    <!----------------------------------       question  cenque  ------------------------------------>

    <div class="row  lrg m-4">
      <div
        class="col-md-8 bg-light border border-dark rounded p-4"
        *ngIf="rensform1"
      >
        <h6 class="text-center mt-4 mb-4">Renseigner un formulaire</h6>
        <br />
        <p class="text-muted">
          <i class="fab text-secondary mr-4 fa-font-awesome-flag"></i>La
          personne a dit savoir se servir d’un ordinateur. Tourner l’écran vers
          la personne, sur lequel le formulaire est affiché.
        </p>
        <p>
          <i class="text-danger mr-4 fas fa-question-circle"></i>Pouvez-vous
          remplir ce questionnaire sur ordinateur?
        </p>
      </div>

      <div
        class="col-md-8 bg-light border border-dark rounded p-4"
        *ngIf="rensform2"
      >
        <h6 class="text-center mt-4 mb-4">Renseigner un formulaire</h6>
        <p>
          <i class="fab text-secondary mr-4 fa-font-awesome-flag"></i> La
          personne a dit ne pas savoir se servir d’un ordinateur <br /><i
            class="text-danger mr-4 fas fa-question-circle"
          ></i
          >Voici un formulaire. Je vous demande de le remplir seul. Si vous
          n’arrivez pas à répondre à certaines questions, ce n’est pas grave,
          passez à la ligne suivante. Vous avez 3 minutes. Quand vous aurez
          terminé, nous verrons ensemble ce que vous avez rempli et vous pourrez
          me poser des questions sur ce que vous n’avez pas compris. C’est
          parti!
        </p>
        <p class="text-muted">
          <i class="fab text-secondary mr-4 fa-font-awesome-flag"></i> Vous
          pouvez aider la personne à l'oral, mais pas remplir à sa place.<br />
          Ce sera à vous de remplir le formulaire en ligne avec les informations
          suivantes: Identité, code postal, ville et statut (page suivante)
        </p>
        <p>
          3 minutes plus tard, prenez maintenant un moment pour indiquer comment
          le formulaire a été rempli.
        </p>
      </div>
    </div>

    
    <!-- </div> -->
    <div class="row" lrg >
      <div class="col-6"><button class="btn btnbg float-left  mb-4" (click)="buck()">
        <i class="fas fa-backward pl-4 pr-4"></i>
      </button></div>
      <div class="col-6">
      
        <button
      type="submit required"
      class="btn btnbg float-right mr-4 mb-4"
      [disabled]="!f.form.valid"
    >
      <span class="text-danger" *ngIf="!f.form.valid"
        >Suite : répondre à toutes les questions</span
      ><i class="fas fa-forward pl-4 pr-4"></i>
    </button>
      
      </div>
    </div>

  </form>
</div>
