<div class="container">

  <h4 class="text-center  mt-4 font-weight-bold mb-4 ">
    Séquence 2 : S’INSCRIRE SUR DIEGO !
  </h4>

  <form #f="ngForm" (ngSubmit)="identity(f)" class="border border-primar rounded p-4 text-muted">
    <div class="form-group form-check">
      <label class="form-check-label mr-4">
        <input class="form-check-input" 
        [(ngModel)]="genre"  name="genre" value="madame" type="radio" required> Madame
      </label>
      <label class="form-check-label ml-4">
        <input class="form-check-input" 
        [(ngModel)]="genre"  
         name="genre" value="monsieur" type="radio" required> Monsieur
      </label>
    </div>
    <!-- **************************************************************************
     -->
    <div class="row">
      <div class="form-group col-md-6">
        <label>Prenom</label>
        <input type="text" class="form-control" 
        [(ngModel)]="prenom" value="prenom"  name="prenom" required minlength="1">
      </div>
      <div class="form-group col-md-6">
        <label>Nom</label>
        <input type="text" class="form-control" name="nom"  required minlength="1"
        [(ngModel)]="nom" value="nom" required>
      </div>
    </div>
    <!------------------------------------------------------------------------------>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Date de naissance</label>
        <input type="date" class="form-control" name="dateNaissance" 
        [(ngModel)]="dateNaissance" value="dateNaissance" >
      </div>
      <div class="form-group col-md-6">
        <label>Lieu de naissance</label>
        <input type="text" class="form-control" name="lieuNaissance" 
        [(ngModel)]="lieuNaissance" value="lieuNaissance" >
      </div>
    </div>

    <!--------------------------------   contacte  -------------->
    <div class="form-group">
      <label for="inputAddress2">Adresse</label>
      <input type="text" class="form-control" name="adresse" 
      [(ngModel)]="adresse" value="adresse">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Ville</label>
        <input type="text" class="form-control" name="ville" 
        [(ngModel)]="ville" value="ville">
      </div>
      <div class="form-group col-md-6">
        <label for="inputZip">Code postal</label>
        <input type="text" class="form-control" name="codePostale" 
        [(ngModel)]="codePostale" value="codePostale">
      </div>
    </div>
    <!--------------------------------------------------------------->

    <div class="row">
      <div class="form-group col-md-6">
        <label>N° de téléphone</label>
        <input type="text" class="form-control" name="telephone" 
        [(ngModel)]="telephone" value="telephone">
      </div>
      <div class="form-group col-md-6">
        <label>Email</label>
        <input type="email" class="form-control" name="email" 
        [(ngModel)]="email" value="email">
      </div>
    </div>


    <!-------------      emplois   ------------------>
    <div class="row">
      <div class="form-group col-md-12">
        <label>Profession / métier</label>
        <input type="text" class="form-control" name="metier" 
        [(ngModel)]="metier" value="metier">
      </div>

    </div>


    <div class="row">
      <div class="form-group col-md-6">
        <label> Statut</label><br>
        <label class="form-check-label ml-4 mr-4">
          <input class="form-check-input" 
          [(ngModel)]="status" value="status" name="status" value="Salarié" type="radio"> Salarié
        </label>
        <label class="form-check-label ml-4 mr-4 ">
          <input class="form-check-input" 
          [(ngModel)]="status" value="status" name="status" value="Indépendant" type="radio"> Indépendant
        </label>
        <label class="form-check-label ml-4  ">
          <input class="form-check-input " 
          [(ngModel)]="status" value="status" name="status" value="Demandeur d'emploi" type="radio"> Demandeur
          d’emploi
        </label>
      </div>
      <div class="col-md-6">
        <label>Autre :</label>
        <input type="text" class="form-control" name="autre" 
        [(ngModel)]="autre" value="autre">
      </div>
    </div>

    <div class="row mb-4">
      <div class="form-group col-md-6">
        <label>Dernier emploi (ou stage) occupé</label>
        <input type="text" class="form-control" name="derniereEmploi" 
        [(ngModel)]="derniereEmploi" value="derniereEmploi">
      </div>
      <div class="form-group col-md-6">
        <label>Dates de cet emploi</label>
        <input type="date" class="form-control" name="dateEmploi" 
        [(ngModel)]="dateEmploi" value="dateEmploi">
      </div>
    </div>


    <div class="row">
      <div class="col-6"><button class="btn btnbg float-left  mb-4" (click)="buck()">
        <i class="fas fa-backward pl-4 pr-4"></i>
      </button></div>
      <div class="col-6">
        <button type="submit" class="btn btnbg float-right" >
          <i class="fas fa-forward pl-4 pr-4" ></i></button>
      </div>
    </div>

    

  </form>



</div>